*{
    font-family: 'Times New Roman', Times, serif;
}

#navbar{
     width: 100%;
    height: 80px;
    background: rgb(0, 162, 255);
}

#decription-container{
   width:100%;
   height:445px;
   background:white;
}
#section-1{
    float: left;
}
#section-2{
    float: left;
}
.description-section{
     width: 60%;
    height: inherit;
    box-sizing: border-box;
}
#section-1 p{
    text-align: justify;
}
#section-2 img{
     width:410px;
    height: 300px;
    margin-left: 90px;

}
#info-1{
  margin-left:90px;
}
h3{
    color: rgb(0, 128, 255);
}